In [1]:
import pandas as pd

In [2]:
public_services_data = pd.read_csv("public_services.csv")

# Select unique values
public_services_data = public_services_data[["main_cat", "sub_cat"]]
public_services_data = public_services_data.drop_duplicates(subset=["sub_cat"])

# Clean data
public_services_data = public_services_data.applymap(lambda x: x.strip().title())

# Filter out "delete"
public_services_data = public_services_data[public_services_data["main_cat"] != "Delete"]

# Sort values and reset index
public_services_data = public_services_data.sort_values(by=["main_cat", "sub_cat"])
public_services_data = public_services_data.reset_index(drop=True)

# Generate equal weights as a new column
public_services_data['count'] = public_services_data.groupby('main_cat')['sub_cat'].transform('count')
public_services_data["weight"] = 1 / public_services_data["count"]
public_services_data = public_services_data.drop(columns=["count"])

#public_services_data = public_services_data.rename(columns={"main_cat":"main_category", "sub_cat":"sub_category"})

public_services_data

,main_cat,sub_cat,weight
0,Education,College,0.333333
1,Education,Other Education Services,0.333333
2,Education,School,0.333333
3,General Facility,Facilities,0.250000
4,General Facility,General Libarary,0.250000
5,General Facility,Mosque,0.250000
6,General Facility,Park,0.250000
7,Government,Civil Defense,0.250000
8,Government,Ministry,0.250000
9,Government,Other Governmental Services,0.250000
10,Government,Police,0.250000
11,Health,Clinic,0.250000
12,Health,Hospital,0.250000
13,Health,Other Health Services,0.250000
14,Health,Pharmacy,0.250000
15,Hopspitality,Hotel,0.333333
16,Hopspitality,Motel,0.333333
17,Hopspitality,Resort,0.333333
18,"Stores, Offices And Commercial Services",Atm,0.100000
19,"Stores, Offices And Commercial Services",Bank,0.100000
20,"Stores, Offices And Commercial Services",Cafes,0.100000
21,"Stores, Offices And Commercial Services",Commercial_Service,0.100000
22,"Stores, Offices And Commercial Services",Company,0.100000
23,"Stores, Offices And Commercial Services",Gas Station,0.100000
24,"Stores, Offices And Commercial Services",Mall,0.100000
25,"Stores, Offices And Commercial Services",Markets,0.100000
26,"Stores, Offices And Commercial Services",Resturant,0.100000
27,"Stores, Offices And Commercial Services",Store,0.100000

In [3]:
public_services_data.to_csv("public_services_weights.csv", index=False)